.new-user-box {
  text-align: center;
  border: 1px solid wheat;
  border-radius: 20px;
}

input {
  margin-left: 10px;
  border-radius: 10px;
}

button {
  border-radius: 10px;
}

h3 {
  margin-top: 30px;
}
.col-9 {
  margin-left: 20%;
  padding: 20px;
}
